html,
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html {
	background-image: url('./bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	text-align: center;
}

header img {
	max-width: 100%;
}

section,
form,
.info {
	background-color: #fffcf9;
	border-radius: 10px;
	padding: 10px 30px;
	margin: 20px 50px;
}

q {
	font-style: italic;
	display: block;
	margin: 20px 50px;
}

.info {
	margin: 20px auto;
	width: fit-content;
}

main a {
	text-decoration: none;
	display: block;
	text-align: center;
	width: fit-content;
	margin: 0 auto;
}

button {
	cursor: pointer;
	font-size: 2rem;
	font-weight: bold;
	background-color: #ff6978;
	color: #fffcf9;
	margin: 10px auto;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
}

button:hover {
	outline: 4px solid #ff6978;
	outline-offset: 2px;
}

strong {
	color: #6d435a;
	font-size: 18px;
}

h2 {
	color: #340068;
	margin-top: 20px;
}

footer {
	background-color: #b1ede8;
	margin-top: 20px;
	padding: 10px 50px;
}

form {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 0 auto;
}

input,
select {
	width: fit-content;
}

label {
	font-weight: bold;
	color: #340068;
	margin-top: 10px;
	margin-bottom: 5px;
}
